[submodule "exteral/shellspec"]
	path = exteral/shellspec
	url = https://github.com/shellspec/shellspec
[submodule "external/shellspec"]
	path = external/shellspec
	url = https://github.com/shellspec/shellspec
